

body{
    background: linear-gradient(90deg, rgb(16, 0, 36), rgb(32, 2, 3));
    color: white;
    padding: 0%;
    margin: 0%;
}

header{
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

main{
    margin-left: 20%;
    margin-right: 20%;
}

.profile-picture{
    height: 250px;
    width: 300px;
    border-radius: 100%;
}

h1{
    font-family: sans-serif;
    color: red;
}

nav{
    display: flex;
    justify-content: center;
} 

ul{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul li a{
    font-size: 24px;
}


a{
    text-decoration: none;
    color: white;

}

.About-Me {
    display: flex;
}

.About-Me h2{
    width: 15%;
}

.About-Me div p{
    margin-left: 8%;
}

.Contact-Me {
    display: flex;
}

.Contact-Me ul{
    margin-left: auto;
    margin-right: auto;
}

.Contact-Me ul li {
    margin-left: 30px;
    margin-right: 30px;
}

.Contact-Me ul li a{
    font-size: 25px;
}

.work{
    display: flex;
}

.applications{
    margin-left: auto;
    margin-right: auto;
}

.little-boxes{
    display: flex;
}

.work h2{
    width: 5%;
}

.placeholder-box{
    padding: 15px;
}

h4{
    text-align: center;
}

/* set the media query for mobile */
@media only screen and (max-width: 768px) {
    header{
        font-size: 8px;
        white-space: nowrap;
    }

    header h1{
        margin-top: 15px;
    }

    nav ul li a{
        font-size: small;
    }

    nav ul {
        padding-left: 0;
        margin-top: 17px;
    }

} 